## Load Data

This is an experimental environment of dataloader, i.e., a file for debug. please ignore it

In [1]:
%load_ext autoreload 
%autoreload 2

In [2]:
import xml.etree.ElementTree as ET 
import glob
import numpy as np
import pandas as pd

### Load evaluation and training data

In [3]:
import sys
sys.path.insert(1, 'scripts')
from load_data import find_xml_files, load_objects, load_data

In [4]:
data = load_data(target='claim')
print(len(data))

Find 78 XML files
Too long in reply (lenth 109) of file:
datasets/change-my-view-modes-master/v1.0/positive/82.xml
Too long in reply (lenth 106) of file:
datasets/change-my-view-modes-master/v1.0/negative/78.xml
597

In [5]:
x = [len(x.split()) for x, y in data]
y = [len(y.split()) for x, y in data]
np.argmax([len(x.split()) for x,y in data])

132

In [6]:
df_describe = pd.DataFrame(x)
display(df_describe.describe())
df_describe = pd.DataFrame(y)
display(df_describe.describe())

                0
count  597.000000
mean    66.855946
std     46.858448
min      2.000000
25%     32.000000
50%     53.000000
75%     91.000000
max    268.000000

                0
count  597.000000
mean    27.525963
std     19.475025
min      1.000000
25%     14.000000
50%     22.000000
75%     37.000000
max    109.000000

In [7]:
np.sum(np.array(x) > 300), np.sum(np.array(y) > 300)

(0, 0)

In [8]:
# t = ET.parse('datasets/change-my-view-modes-master/v1.0/positive/77.xml')
# r = t.getroot()
# s = ET.tostring(r[2], encoding='utf-8', method='text').decode('utf-8')
# ls = s.strip().split('\n\n')
# ls

### Load testing data

In [9]:
from load_evaluation import find_json_files, get_paragraphs_with_objects, load_evaluation

In [10]:
# fl = find_json_files()
# data = get_paragraphs_with_objects(fl, object_name='claim')

In [13]:
for name in ['claim', 'premise']:
    for task in ['auto-driving', 'bitcoin-invest']:
        evaluation_data = load_evaluation(base_dir=os.path.join('datasets', 'human_label_v2', task), object_name=name)
        df = pd.DataFrame(evaluation_data, columns=['text', name])
        display(df.head())
        df.to_csv(os.path.join('data', name+'s', f'evaluation-{task}.csv'), index=False)

,text,claim
0,"Yes, you would.\nWait, how dare I answer for y...","Yes, you would.\nthe research shows people are..."
1,Its a no brainer for the following reasons:\nI...,Its a no brainer for the following reasons\nOn...
2,"You already do. It is called ""taxi"".\nYes, tax...","You already do. It is called ""taxi"""
3,"I already have. However, I did have the luxury...",I already have\nI did have the luxury of build...
4,"I would. However, I admit that, since I don't ...","I would. However, I admit that, since I don't ..."

,text,claim
0,Bitcoin is pretty useless. But so is gold.\nGo...,Bitcoin is pretty useless. But so is gold.\nFo...
1,It’s not too late to invest. Though cryptocurr...,It’s not too late to invest
2,Ahh Bitcoin. Buying one in 2010 at 0.08$ a coi...,"Yes, Bitcoin has its pros"
3,"Yes, Bitcoin has its pros. It’s unregulated. D...","If you must invest in it, remember the golden ..."
4,Venture capitalists have poured tons of money ...,Venture capitalists have poured tons of money ...

,text,premise
0,"Yes, you would.\nWait, how dare I answer for y...","I have been in them many times, from several d..."
1,Its a no brainer for the following reasons:\nI...,I can make use of the time I spend driving.\nI...
2,"You already do. It is called ""taxi"".\nYes, tax...","Yes, taxi self-driving uses a human component\..."
3,"I would. However, I admit that, since I don't ...",if you had the choice of driving your mother t...
4,Absolutely.\nI've been following along with th...,I've been following along with the Google Cars...

,text,premise
0,Bitcoin is pretty useless. But so is gold.\nGo...,"However, the world is changing fast - one coul..."
1,Ahh Bitcoin. Buying one in 2010 at 0.08$ a coi...,"It was secure, unregulated and cryptocurrency ..."
2,Its exactly the same with Bitcoin. The price o...,"It was secure, unregulated and cryptocurrency ..."
3,Venture capitalists have poured tons of money ...,As more products are build and used in the bit...
4,It is unwise not to invest in Bitcoin.\nI am n...,One of the proof cryptocurrencies are not read...

## Build data set

In [ ]:
from sklearn.model_selection import train_test_split
import os
import pandas as pd
import numpy as np

In [ ]:
if not os.path.exists('data/claims'):
    os.mkdir('data/claims')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='claim')
print(f'Load {len(data)} claims')

df = pd.DataFrame(data, columns=['text', 'claim'])
display(df.head())

train, test = train_test_split(df, test_size=0.3, random_state=43)

train.to_csv('data/claims/train.csv', index=False)
test.to_csv('data/claims/test.csv', index=False)

In [ ]:
if not os.path.exists('data/premises'):
    os.mkdir('data/premises')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='premise')
print(f'Load {len(data)} premises')
df = pd.DataFrame(data=data, columns=['text', 'premise'])
display(df.head())
train, test = train_test_split(df, test_size=0.3, random_state=43)
train.to_csv('data/premises/train.csv', index=False)
test.to_csv('data/premises/test.csv', index=False)