## Read Data

This is an experimental environment of dataloader, i.e., a file for debug. please ignore it

In [1]:
%load_ext autoreload 
%autoreload 2

In [2]:
import xml.etree.ElementTree as ET 
import glob
import numpy as np
import pandas as pd

In [3]:
import sys
sys.path.insert(1, 'scripts')
from load_data import find_xml_files, load_objects, load_data

In [4]:
data = load_data(target='premise')
print(len(data))

Find 78 XML files
210

In [5]:
np.argmax([len(x.split()) for x,y in data])

43

In [6]:
x = [len(x.split()) for x,y in data]
y = [len(y.split()) for x,y in data]

In [7]:
df_describe = pd.DataFrame(x)
df_describe.describe()

                0
count  210.000000
mean   127.890476
std     79.352779
min      5.000000
25%     60.250000
50%    109.000000
75%    181.000000
max    293.000000

In [8]:
np.sum(np.array(x) > 300), np.sum(np.array(y) > 300)

(0, 0)

In [9]:
df_describe = pd.DataFrame(y)
df_describe.describe()

                0
count  210.000000
mean    60.123810
std     49.416441
min      3.000000
25%     24.000000
50%     43.000000
75%     91.000000
max    219.000000

In [11]:
# t = ET.parse('datasets/change-my-view-modes-master/v1.0/positive/77.xml')
# r = t.getroot()
# s = ET.tostring(r[2], encoding='utf-8', method='text').decode('utf-8')
# ls = s.strip().split('\n\n')
# ls

## Build data set

In [37]:
from sklearn.model_selection import train_test_split
import os
import pandas as pd
import numpy as np

In [40]:
if not os.path.exists('data/claims'):
    os.mkdir('data/claims')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='claim')
print(f'Load {len(data)} claims')

df = pd.DataFrame(data, columns=['text', 'claim'])
display(df.head())

train, test = train_test_split(df, test_size=0.3, random_state=43)

train.to_csv('data/claims/train.csv', index=False)
test.to_csv('data/claims/test.csv', index=False)

Find 78 XML files
Load 242 objects

,text,claim
0,∆\n\nSo instead of genocide we simply go back ...,So instead of genocide we simply go back to fe...
1,"As I understand it, and crudely explained, SVT...",waste has to be produced in order for the syst...
2,"As I understand it, and crudely explained, SVT...",waste has to be produced in order for the syst...
3,> The boss pays each of her workers £5 for eac...,this isn't really a good example\nI think I ge...
4,∆\nThat makes a lot of sense!\nThank you! I ca...,it would be a wasteless system if there were m...

In [41]:
if not os.path.exists('data/premises'):
    os.mkdir('data/premises')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='premise')
print(f'Load {len(data)} premises')
df = pd.DataFrame(data=data, columns=['text', 'premise'])
display(df.head())
train, test = train_test_split(df, test_size=0.3, random_state=43)
train.to_csv('data/premises/train.csv')
test.to_csv('data/premises/test.csv')

Find 78 XML files
Load 210 premises

,text,premise
0,[47% of all jobs are at risk of being automate...,[47% of all jobs are at risk of being automate...
1,"As I understand it, and crudely explained, SVT...",As I understand it\ncrudely explained\nin an e...
2,"As I understand it, and crudely explained, SVT...",As I understand it\ncrudely explained\nin an e...
3,> The boss pays each of her workers £5 for eac...,Most people aren't paid on commission\nyou're ...
4,I was at a christmas eve service last night (I...,I'm Unitarian Universalist\nHad a group of rel...