## Read Data

This is an experimental environment of dataloader, i.e., a file for debug. please ignore it

In [2]:
%load_ext autoreload 
%autoreload 2

In [3]:
import xml.etree.ElementTree as ET 
import glob
import numpy as np
import pandas as pd

In [4]:
import sys
sys.path.insert(1, 'scripts')
from load_data import find_xml_files, load_objects, load_data

In [15]:
data = load_data(target='claim')
print(len(data))

Find 78 XML files
Too long in reply (lenth 109) of file:
datasets/change-my-view-modes-master/v1.0/positive/82.xml
Too long in reply (lenth 106) of file:
datasets/change-my-view-modes-master/v1.0/negative/78.xml
587

In [16]:
np.argmax([len(x.split()) for x,y in data])

410

In [17]:
x = [len(x.split()) for x,y in data]
y = [len(y.split()) for x,y in data]

In [18]:
df_describe = pd.DataFrame(x)
df_describe.describe()

                0
count  587.000000
mean    68.511073
std     60.694652
min      2.000000
25%     31.000000
50%     52.000000
75%     91.000000
max    727.000000

In [19]:
np.sum(np.array(x) > 300), np.sum(np.array(y) > 300)

(2, 0)

In [20]:
df_describe = pd.DataFrame(y)
df_describe.describe()

                0
count  587.000000
mean    27.994889
std     24.683767
min      1.000000
25%     13.000000
50%     22.000000
75%     37.000000
max    296.000000

In [21]:
# t = ET.parse('datasets/change-my-view-modes-master/v1.0/positive/77.xml')
# r = t.getroot()
# s = ET.tostring(r[2], encoding='utf-8', method='text').decode('utf-8')
# ls = s.strip().split('\n\n')
# ls

## Build data set

In [22]:
from sklearn.model_selection import train_test_split
import os
import pandas as pd
import numpy as np

In [23]:
if not os.path.exists('data/claims'):
    os.mkdir('data/claims')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='claim')
print(f'Load {len(data)} claims')

df = pd.DataFrame(data, columns=['text', 'claim'])
display(df.head())

train, test = train_test_split(df, test_size=0.3, random_state=43)

train.to_csv('data/claims/train.csv', index=False)
test.to_csv('data/claims/test.csv', index=False)

Find 78 XML files
Too long in reply (lenth 109) of file:
datasets/change-my-view-modes-master/v1.0/positive/82.xml
Too long in reply (lenth 106) of file:
datasets/change-my-view-modes-master/v1.0/negative/78.xml
Load 587 claims

,text,claim
0,"In short, in a world where the cost of physica...","In short, in a world where the cost of physica..."
1,âˆ†\n\nSo instead of genocide we simply go back ...,So instead of genocide we simply go back to fe...
2,"As I understand it, and crudely explained, SVT...",waste has to be produced in order for the syst...
3,This example then scales up to the whole world...,items that cannot be sold must still be produc...
4,This is one of those views that likes to view ...,This is one of those views that likes to view ...

In [24]:
if not os.path.exists('data/premises'):
    os.mkdir('data/premises')
data = load_data(base_dir='datasets/change-my-view-modes-master/v1.0', target='premise')
print(f'Load {len(data)} premises')
df = pd.DataFrame(data=data, columns=['text', 'premise'])
display(df.head())
train, test = train_test_split(df, test_size=0.3, random_state=43)
train.to_csv('data/premises/train.csv')
test.to_csv('data/premises/test.csv')

Find 78 XML files
Too long in OP (lenth 111) of file:
datasets/change-my-view-modes-master/v1.0/positive/88.xml
Too long in reply (lenth 141) of file:
datasets/change-my-view-modes-master/v1.0/positive/70.xml
Too long in reply (lenth 122) of file:
datasets/change-my-view-modes-master/v1.0/positive/12.xml
Too long in OP (lenth 108) of file:
datasets/change-my-view-modes-master/v1.0/positive/81.xml
Too long in reply (lenth 102) of file:
datasets/change-my-view-modes-master/v1.0/positive/95.xml
Too long in reply (lenth 122) of file:
datasets/change-my-view-modes-master/v1.0/positive/96.xml
Too long in reply (lenth 135) of file:
datasets/change-my-view-modes-master/v1.0/positive/82.xml
Too long in reply (lenth 142) of file:
datasets/change-my-view-modes-master/v1.0/positive/82.xml
Too long in reply (lenth 101) of file:
datasets/change-my-view-modes-master/v1.0/positive/87.xml
Too long in reply (lenth 122) of file:
datasets/change-my-view-modes-master/v1.0/positive/86.xml
Too long in reply (lenth 103) of file:
datasets/change-my-view-modes-master/v1.0/positive/90.xml
Too long in reply (lenth 115) of file:
datasets/change-my-view-modes-master/v1.0/negative/99.xml
Too long in reply (lenth 156) of file:
datasets/change-my-view-modes-master/v1.0/negative/12.xml
Too long in reply (lenth 103) of file:
datasets/change-my-view-modes-master/v1.0/negative/81.xml
Too long in reply (lenth 120) of file:
datasets/change-my-view-modes-master/v1.0/negative/94.xml
Load 562 premises

,text,premise
0,[47% of all jobs are at risk of being automate...,[47% of all jobs are at risk of being automate...
1,"Throughout history, people tend to use their w...","Throughout history, people tend to use their w..."
2,"There was a time, say in the 18th century, whe...","There was a time, say in the 18th century, whe..."
3,"Nowadays, you would never see a wealthy leader...","Nowadays, you would never see a wealthy leader..."
4,Or consider beauty standards.\nBack during the...,Or consider beauty standards.\nBack during the...